*{
    padding:  0;
    margin: 0;
}

section{
    background-image: url("../img/bg.webp");
    height: 100vh;
    background-size: cover
    width :100%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

h2{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
    display: inline-flex;
}

li{
    padding-right: 15px;
}